<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/page.css">
        <title>{title}</title>
    </head>

    <body>
        <div class="container">
            <header class="header">
                <a href="/" class="logo">
                    <img src="/image/otter.png" class="logo"/>
                </a>
        
                <h1>stackotter.dev</h1>
        
                <div id="nav">
                    <a class="link" href="/">about</a>
                    <a class="link" href="/blog">blog</a>
                    <a class="link" href="/contact">contact</a>
                </div>
            </header>

            <main class="main">
                {content}
            </main>
        </div>
    </body>
</html>